body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.main-container {
    display: flex;
    height: 80%;
}

.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    overflow-y: auto;
}

.chart-container {
    flex-grow: 1;
    overflow: scroll;
    position: relative;
    width: 100%;
    height: 100%;
}

svg {
    width: 2000px;
    height: 1500px;
}

.node {
    stroke: black;
    stroke-width: 1px;
}

.status-optimal {
    fill: #2CA02C;
}

.status-underperforming {
    fill: #FF7F0E;
}

.status-not_present {
    fill: #FFFFFF;
}

.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: 8px;
    pointer-events: none;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tooltip table {
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
}

.tooltip table, .tooltip th, .tooltip td {
    border: 1px solid #ddd;
    padding: 4px;
}

.tooltip th {
    background-color: #333;
    color: #fff;
}

.zoom-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.btn {
    margin: 5px;
}

.x-axis text, .y-axis text {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    fill: #4a90e2;
}

.axis-label {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    fill: #e94e77;
}

.x-axis path, .y-axis path,
.x-axis line, .y-axis line {
    stroke: #e94e77;
    stroke-width: 2;
}

.details-section {
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #dee2e6;
    height: 20%;
    overflow-y: auto;
}

.details-section table {
    width: 100%;
    border-collapse: collapse;
}

.details-section th, .details-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.details-section th {
    background-color: #f2f2f2;
}
